&nbsp;
<hr />

<p style="text-align: center;">A work by <a href="https://github.com/ericdavidmorris/">Eric Morris</a>, <a href="https://github.com/gswliu/">Grace Liu</a>, & <a href="https://github.com/tatinimalsarkar/">Tatini Mal-Sakar</a></p>
<p style="text-align: center;"><span style="color: #808080;">Data obtained from <a href="https://www.citibikenyc.com/system-data">Citi Bikes</a></span></p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
&nbsp;